<template>
  <section>
    <!-- Loader -->
    <div class="loader">
      <div class="loader-img"></div>
    </div>

    <!-- Top content -->
    <div class="top-content">

      <nav-bar/>

      <first-slide :key="$store.state"></first-slide>

    </div>

    <features-slide/>

    <more-features-slide/>


    <always-beautiful-slide/>

    <how-it-works-slide/>

    <pricing-slide/>

    <call-to-action-slide/>

    <about-us-slide/>

    <testimonials-slide/>


    <privacy-policy-modal/>

    <frequent-questions-modal/>

  </section>
</template>

<script>
  import NavBar from '~components/NavBar'
  import FirstSlide from '~components/slides/FirstSlide'
  import FeaturesSlide from '~components/slides/Features'
  import MoreFeaturesSlide from '~components/slides/MoreFeatures'
  import AlwaysBeautifulSlide from '~components/slides/AlwaysBeautiful'
  import HowItWorksSlide from '~components/slides/HowItWorks'
  import PricingSlide from '~components/slides/Pricing'
  import CallToActionSlide from '~components/slides/CallToAction'
  import AboutUsSlide from '~components/slides/AboutUs'
  import TestimonialsSlide from '~components/slides/Testimonials'

  import PrivacyPolicyModal from '~components/modals/PrivacyPolicy'
  import FrequentQuestionsModal from '~components/modals/FrequentQuestions'

  export default {
    components: {
      NavBar,
      FirstSlide,
      FeaturesSlide,
      MoreFeaturesSlide,
      AlwaysBeautifulSlide,
      HowItWorksSlide,
      PricingSlide,
      CallToActionSlide,
      AboutUsSlide,
      TestimonialsSlide,

      PrivacyPolicyModal,
      FrequentQuestionsModal
    },
    mounted () {
      this.init()
    },
    updated () {
      this.init()
    },
    methods: {
      init () {
        function scroll_to (clicked_link, nav_height) {
          var element_class = clicked_link.attr('href').replace('#', '.');
          var scroll_to = 0;
          if (element_class != '.top-content') {
            element_class += '-container';
            scroll_to = $(element_class).offset().top - nav_height;
          }
          if ($(window).scrollTop() != scroll_to) {
            $('html, body').stop().animate({scrollTop: scroll_to}, 1000);
          }
        }


        jQuery(document).ready(function () {

          /*
           Navigation
           */
          $('a.scroll-link').on('click', function (e) {
            e.preventDefault();
            scroll_to($(this), 0);
          });

          /*
           Background slideshow
           */
          $('.top-content').backstretch("assets/img/backgrounds/1.jpg");
          $('.how-it-works-container').backstretch("assets/img/backgrounds/1.jpg");
          $('.call-to-action-container').backstretch("assets/img/backgrounds/1.jpg");

          $('#top-navbar-1').on('shown.bs.collapse', function () {
            $('.top-content').backstretch("resize");
          });
          $('#top-navbar-1').on('hidden.bs.collapse', function () {
            $('.top-content').backstretch("resize");
          });

          /*
           Wow
           */
          new WOW().init();

          /*
           Modals
           */
          $('.launch-modal').on('click', function (e) {
            e.preventDefault();
            $('#' + $(this).data('modal-id')).modal();
          });

        });


        jQuery(window).load(function () {

          /*
           Loader
           */
          $(".loader-img").fadeOut();
          $(".loader").delay(1000).fadeOut("slow");

          /*
           Hidden images
           */
          $(".modal-body img, .testimonial-image img").attr("style", "width: auto !important; height: auto !important;");

        });
      }
    }
  }
</script>
