<template>
  <!-- About us -->
  <div class="about-us-container section-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 about-us section-description wow fadeIn">
          <h2>About us</h2>
          <div class="divider-1 wow fadeInUp"><span></span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 about-us-box wow fadeInUp">
          <div class="about-us-photo">
            <img src="assets/img/about/1.jpg" alt="" data-at2x="assets/img/about/1.jpg">
            <div class="about-us-role">Marketing</div>
          </div>
          <h3>John Doe</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
          <div class="about-us-social">
            <a href="#"><span class="typcn typcn-social-facebook"></span></a>
            <a href="#"><span class="typcn typcn-social-dribbble"></span></a>
            <a href="#"><span class="typcn typcn-social-twitter"></span></a>
          </div>
        </div>
        <div class="col-sm-4 about-us-box wow fadeInDown">
          <div class="about-us-photo">
            <img src="assets/img/about/2.jpg" alt="" data-at2x="assets/img/about/2.jpg">
            <div class="about-us-role">Designer</div>
          </div>
          <h3>Tim Brown</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
          <div class="about-us-social">
            <a href="#"><span class="typcn typcn-social-facebook"></span></a>
            <a href="#"><span class="typcn typcn-social-dribbble"></span></a>
            <a href="#"><span class="typcn typcn-social-twitter"></span></a>
          </div>
        </div>
        <div class="col-sm-4 about-us-box wow fadeInUp">
          <div class="about-us-photo">
            <img src="assets/img/about/3.jpg" alt="" data-at2x="assets/img/about/3.jpg">
            <div class="about-us-role">Developer</div>
          </div>
          <h3>Sarah Red</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
          <div class="about-us-social">
            <a href="#"><span class="typcn typcn-social-facebook"></span></a>
            <a href="#"><span class="typcn typcn-social-dribbble"></span></a>
            <a href="#"><span class="typcn typcn-social-twitter"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
