<template>
  <!-- Always beautiful -->
  <div class="always-beautiful-container section-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 always-beautiful section-description wow fadeIn">
          <h2>Always beautiful</h2>
          <div class="divider-1 wow fadeInUp"><span></span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7 always-beautiful-box wow fadeInLeft">
          <div class="always-beautiful-box-text always-beautiful-box-text-left">
            <h3>Ut wisi enim ad minim</h3>
            <p class="medium-paragraph">
              Lorem ipsum dolor sit amet, <span class="colored-text">consectetur adipisicing</span> elit,
              sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
              Ut wisi enim ad minim veniam, quis nostrud.
              Exerci tation ullamcorper suscipit <span class="colored-text">lobortis nisl</span> ut aliquip ex ea
              commodo consequat.
              Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl.
            </p>
          </div>
        </div>
        <div class="col-sm-5 always-beautiful-box wow fadeInUp">
          <img src="assets/img/devices/pc2.png" alt="">
        </div>
      </div>
    </div>
  </div>
</template>
