<template>
  <!-- Call to action -->
  <div class="call-to-action-container section-container section-container-image-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 call-to-action section-description wow fadeInLeftBig">
          <h2>Call to action</h2>
          <div class="divider-1 wow fadeInUp"><span></span></div>
          <p>
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
            aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 section-bottom-button wow fadeInUp">
          <a class="btn btn-link-1 scroll-link" href="#top-content">Sign up now</a>
        </div>
      </div>
    </div>
  </div>
</template>
