<template>
  <!-- Features -->
  <div class="features-container section-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 features section-description wow fadeIn">
          <h2>What's included</h2>
          <div class="divider-1 wow fadeInUp"><span></span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 features-box features-box-gray wow fadeInUp">
          <div class="features-box-icon">
            <span aria-hidden="true" class="typcn typcn-eye-outline"></span>
          </div>
          <h3>Easy To Use</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et.</p>
        </div>
        <div class="col-sm-4 features-box wow fadeInDown">
          <div class="features-box-icon">
            <span aria-hidden="true" class="typcn typcn-thumbs-ok"></span>
          </div>
          <h3>Responsive Design</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et.</p>
        </div>
        <div class="col-sm-4 features-box features-box-gray wow fadeInUp">
          <div class="features-box-icon">
            <span aria-hidden="true" class="typcn typcn-cog-outline"></span>
          </div>
          <h3>Bootstrap Engine</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 features-box wow fadeInUp">
          <div class="features-box-icon">
            <span aria-hidden="true" class="typcn typcn-video-outline"></span>
          </div>
          <h3>Lots Of Videos</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et.</p>
        </div>
        <div class="col-sm-4 features-box features-box-gray wow fadeInDown">
          <div class="features-box-icon">
            <span aria-hidden="true" class="typcn typcn-device-phone"></span>
          </div>
          <h3>Mobile App</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et.</p>
        </div>
        <div class="col-sm-4 features-box wow fadeInUp">
          <div class="features-box-icon">
            <span aria-hidden="true" class="typcn typcn-group-outline"></span>
          </div>
          <h3>Big Community</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 section-bottom-button wow fadeInUp">
          <a class="btn btn-link-1 scroll-link" href="#top-content">Sign up now</a>
        </div>
      </div>
    </div>
  </div>
</template>
