<template>
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 text">
          <h1 class="wow fadeInLeftBig">Получите свой <strong>сайт</strong></h1>
          <div class="description wow fadeInLeftBig">
            <p>
              Мы специализируемся на создании сайтов для:
              <b>учреждений Культуры</b>, Образовательных организаций, <b>Администраций районов</b>, Сельских поселений, а также других ведомств и организаций
            </p>
          </div>
          <div class="top-big-link wow fadeInUp">
            <a class="btn btn-link-1 scroll-link" href="#pricing">Our prices</a>
            <a class="btn btn-link-2 scroll-link" href="#features">Learn more</a>
          </div>
        </div>
        <div class="col-sm-5 form-box wow fadeInUp">
          <div class="form-top">
            <div class="form-top-left">
              <h3>Подать заявку</h3>
              <p>На создание сайта</p>
            </div>
            <div class="form-top-right">
              <span aria-hidden="true" class="typcn typcn-pencil"></span>
            </div>
          </div>
          <div class="form-bottom">
            <form-for-site :key="$store.state"></form-for-site>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import FormForSite from '~components/forms/FormForSite'
  export default {
    components: {
      FormForSite
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss" scoped>

</style>
