<template>
  <!-- More features -->
  <div class="more-features-container section-container section-container-gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 more-features section-description wow fadeIn">
          <h2>More features</h2>
          <div class="divider-1 wow fadeInUp"><span></span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 more-features-box wow fadeInLeft">
          <img src="assets/img/devices/pc.png" alt="">
        </div>
        <div class="col-sm-7 more-features-box wow fadeInUp">
          <div class="more-features-box-text">
            <div class="more-features-box-text-icon">
              <span aria-hidden="true" class="typcn typcn-attachment"></span>
            </div>
            <h3>Ut wisi enim ad minim</h3>
            <div class="more-features-box-text-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
              Ut wisi enim ad minim veniam, quis nostrud.
            </div>
          </div>
          <div class="more-features-box-text">
            <div class="more-features-box-text-icon">
              <span aria-hidden="true" class="typcn typcn-user"></span>
            </div>
            <h3>Quis nostrud exerci tat</h3>
            <div class="more-features-box-text-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
              Ut wisi enim ad minim veniam, quis nostrud.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
