<template>
  <!-- Testimonials -->
  <div class="testimonials-container section-container section-container-gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 testimonials section-description wow fadeIn">
          <h2>Testimonials</h2>
          <div class="divider-1 wow fadeInUp"><span></span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 testimonial-list wow fadeInUp">
          <div role="tabpanel">
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                <div class="testimonial-image">
                  <img src="assets/img/testimonials/1.jpg" alt="" data-at2x="assets/img/testimonials/1.jpg">
                  <div class="testimonial-icon">
                    <span aria-hidden="true" class="typcn typcn-pin"></span>
                  </div>
                </div>
                <div class="testimonial-text">
                  <p>
                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et.
                    Lorem ipsum dolor sit amet, consectetur..."<br>
                    <a href="#">Lorem Ipsum, dolor.co.uk</a>
                  </p>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab2">
                <div class="testimonial-image">
                  <img src="assets/img/testimonials/2.jpg" alt="" data-at2x="assets/img/testimonials/2.jpg">
                  <div class="testimonial-icon">
                    <span aria-hidden="true" class="typcn typcn-pin"></span>
                  </div>
                </div>
                <div class="testimonial-text">
                  <p>
                    "Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                    aliquip
                    ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                    suscipit
                    lobortis nisl ut aliquip ex ea commodo consequat..."<br>
                    <a href="#">Minim Veniam, nostrud.com</a>
                  </p>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab3">
                <div class="testimonial-image">
                  <img src="assets/img/testimonials/3.jpg" alt="" data-at2x="assets/img/testimonials/3.jpg">
                  <div class="testimonial-icon">
                    <span aria-hidden="true" class="typcn typcn-pin"></span>
                  </div>
                </div>
                <div class="testimonial-text">
                  <p>
                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et.
                    Lorem ipsum dolor sit amet, consectetur..."<br>
                    <a href="#">Lorem Ipsum, dolor.co.uk</a>
                  </p>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab4">
                <div class="testimonial-image">
                  <img src="assets/img/testimonials/4.jpg" alt="" data-at2x="assets/img/testimonials/4.jpg">
                  <div class="testimonial-icon">
                    <span aria-hidden="true" class="typcn typcn-pin"></span>
                  </div>
                </div>
                <div class="testimonial-text">
                  <p>
                    "Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                    aliquip
                    ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                    suscipit
                    lobortis nisl ut aliquip ex ea commodo consequat..."<br>
                    <a href="#">Minim Veniam, nostrud.com</a>
                  </p>
                </div>
              </div>
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab"></a>
              </li>
              <li role="presentation">
                <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab"></a>
              </li>
              <li role="presentation">
                <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab"></a>
              </li>
              <li role="presentation">
                <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
