<template>
  <div>
    <form role="form" action="" method="post">
      <div class="form-group">
        <label class="sr-only" for="form-first-name">ФИО</label>
        <input type="text" v-model="cpFio" name="form-first-name" placeholder="ФИО контактного лица"
               class="form-first-name form-control" id="form-first-name">
      </div>
      <div class="form-group">
        <label class="sr-only" for="form-last-name">Телефон</label>

        <input type="text" name="phone" v-model="cpPhone" v-mask="'+# (###) ##-##-###'" placeholder="Телефон"
               class="form-last-name form-control" id="form-last-name">
      </div>
      <div class="form-group">
        <label class="sr-only" for="form-email">Email</label>
        <input type="text" v-model="cpEmail" name="email" placeholder="Email" class="form-control"
               id="form-email">
      </div>
      <div class="form-group">
        <label class="sr-only" for="form-about-yourself">Наименование учреждения</label>
        <textarea name="form-about-yourself" placeholder="Наименование учреждения"
                  class="form-about-yourself form-control" v-model="cpOrgName"
                  id="form-about-yourself"></textarea>
      </div>
      <button type="submit" class="btn" @click.prevent="stepOneSend">Отправить</button>
      <div class="form-links">
        <a href="#" class="launch-modal" data-modal-id="modal-privacy">Privacy Policy</a> -
        <a href="#" class="launch-modal" data-modal-id="modal-faq">FAQ</a>
      </div>
    </form>
  </div>
</template>
<script>
  export default {
    data () {
      return {}
    },
    computed: {
      cpFio: {
        get () {
          return this.$store.state.form.fio
        },
        set (val) {
          this.$store.commit('setFio', val)
        }
      },
      cpPhone: {
        get () {
          return this.$store.state.form.phone
        },
        set (val) {
          this.$store.commit('setPhone', val)
        }
      },
      cpEmail: {
        get () {
          return this.$store.state.form.email
        },
        set (val) {
          this.$store.commit('setEmail', val)
        }
      },
      cpOrgName: {
        get () {
          return this.$store.state.form.orgName
        },
        set (val) {
          this.$store.commit('setOrgName', val)
        }
      }
    },
    methods: {
      stepOneSend(){
        this.sending = true
        this.axios.post('site.form.save/step1', this.cpStepOneForm).then(
          response => {
            this.$store.commit('setOrgCard', this.cpStepOneForm)
            this.sending = false
            this.$router.push({query: {org_id: response.data.id}})
          })
      }
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss" scoped>

</style>
