<template>
    <div>
        Hello!
    </div>
</template>
<script>
    export default {
        mixins: [],
        components: {},
        directives: {},
        filters: {},

        // start Lifecycle hooks
        beforeCreate () {
        },
        created () {
        },
        beforeMount () {
        },
        mounted () {
        },
        beforeUpdate () {
        },
        updated () {
        },
        beforeDestroy () {
        },
        destroyed () {
        },
        // end Lifecycle hooks

        model: {},
        props: {},
        data () {
            return {}
        },
        computed: {},
        methods: {},
        watch: {}
    }
</script>
<style lang="scss" rel="stylesheet/scss" scoped>

</style>
