<template>
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 footer-social">
          <a href="#"><span class="typcn typcn-social-facebook"></span></a>
          <a href="#"><span class="typcn typcn-social-dribbble"></span></a>
          <a href="#"><span class="typcn typcn-social-twitter"></span></a>
          <a href="#"><span class="typcn typcn-social-google-plus"></span></a>
          <a href="#"><span class="typcn typcn-social-instagram"></span></a>
          <a href="#"><span class="typcn typcn-social-pinterest"></span></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 footer-copyright">
          &copy; Marco Bootstrap Template by <a href="http://azmind.com">Azmind</a>.
        </div>
      </div>
    </div>
  </footer>

</template>
